{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    },
    "target": "es2022",
    "loose": false,
    "externalHelpers": false
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
